<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>  

  <title>Login and Registration</title>
</head>
<body>
  <% for (m in messages) { %>
    <div class="alert warning">
      <%= messages[m] %>
    </div>
  <% } %>
  <div class="container d-inline-block m-5 w-25 align-top">
    <form action="/register" method="post">
      <h3>Register</h3>
      <div class="form-group">
        <label for="username">Choose a Username:</label>
        <input class="form-control" value="<%= username %>"type="text" name="username">
        <% if (typeof regform !== 'undefined') { %>
          <% for (var i=0; i<regform['username'].length; i++) { %>
          <div class="alert alert-info">
            <%= regform['username'][i] %>
          </div>
          <% } %>
        <% } %>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" value="<%= email %>" type="email" name="email">
        <% if (typeof regform !== 'undefined') { %>
          <% for (var i=0; i<regform['email'].length; i++) { %>
          <div class="alert alert-info">
            <%= regform['email'][i] %>
          </div>
          <% } %>
        <% } %>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" type="password" name="password">
        <% if (typeof regform !== 'undefined') { %>
          <% for (var i=0; i<regform['password'].length; i++) { %>
          <div class="alert alert-info">
            <%= regform['password'][i] %>
          </div>
          <% } %>
        <% } %>
      </div>
      <div class="form-group">
        <label for="confirm">Confirm Password:</label>
        <input class="form-control" type="password" name="confirm">
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Register</button>
      </div>
    </form>
  </div>
  <div class="container d-inline-block m-5 w-25 align-top">
    <h3>Log In</h3>
    <form action="/login" method="post">
      <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control" type="email" name="lemail">
      </div>
      <div class="form-group">
        <label for="username">Password:</label>
        <input class="form-control" type="password" name="password">
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Log In</button>
      </div>
    </form>
  </div>
</body>
</html>